<nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/vols"  >Our Flights &nbsp;<i class=" fa fa-fw fa-plane"></i><span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/cars">Our cars &nbsp;	<i class="nav-item fa fa-fw fa-car"></i></a>
      </li>
    </ul>
  </div>
  <!-- <div *ngIf="isLoggedIn; then dropdown else login"></div> -->
  <ng-template #dropdown>
    <li class="nav-item">
      <a class="nav-link text-decoration-none text-light dropdown-toggle" href="#" id="dropdown03"
        data-bs-toggle="dropdown" aria-expanded="false">{{currentUser.name}}</a>
      <ul class="dropdown-menu" aria-labelledby="dropdown03">
        <li><a class="dropdown-item" [routerLink]="'/customer/profile/'+currentUser.id"><i
              class="bi bi-person-fill"></i> Profile</a></li>
        <li>
          <div class="dropdown-item" (click)="logout()"><i class="bi bi-box-arrow-left"></i> Logout</div>
        </li>
      </ul>
    </li>
  </ng-template>

  <a class="auth-modal-toggle btn btn-primary ripple-surface ms-2 me-1" routerLink="/auth/login">LogIn <i class="fa fa-fw fa-sign-in-alt"></i></a>
  <!-- <a class="auth-modal-toggle btn btn-primary ripple-surface ms-2 me-1" routerLink="/auth/register">SignUp <i class="fa fa-fw fa-user-plus"></i></a> -->

</nav>

