<div class="col-md-3">
      <ul>
        <li>
          <a role="button" [routerLink]="['adminAddFlight']" >
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span class="fa fa-plane"></span>
          </a>
        </li>
      </ul>
</div>

<div id="content">
  <div class="container-fluid">
    <table class="table" cellSpacing=50>
      <thead>
        <tr>
          <th scope="col">Country</th>
          <th scope="col">Departure date</th>
          <th scope="col">Arrival date</th>
          <th scope="col">Price</th>
          <th scope="col">Remaining seats</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of flights">
          <td >{{item.country}}</td>
          <td>{{item.date_aller}}</td>
          <td> {{item.date_retour}} </td>
          <td> {{item.date_retour}} </td>
          <td [ngClass]="{'zero': item.Remaining_Seats === 0}"> {{item.Remaining_Seats}} </td>
          <th scope="col"><i role="button" class="fas fa-trash-alt" (click)="delete(item._id)"></i></th>
          <th><i role="button" class="fas fa-edit" [routerLink]="['/adminnav/adminflights/adminUpdateFlight' , item._id]"></i></th>
        </tr>
      </tbody>
    </table>
    <router-outlet></router-outlet>
  </div>
</div>

