<section id="pack" class="packages">
    <div class="container">
        <div class="gallary-header text-center">
            <h2>
                special packages
            </h2>
            <p>
                Duis aute irure dolor in  velit esse cillum dolore eu fugiat nulla.  
            </p>
        </div>
        <div class="packages-content">
            <div class="row">

                <div class="col-md-4 col-sm-6" *ngFor="let vol of volsList">
                    <div class="single-package-item">
                        <img src="/src/assets/download.png" alt="package-place">
                        <div class="single-package-item-txt">
                            <h3>italy <span class="pull-right">{{vol.pays}}</span></h3>
                            <div class="packages-para">
                                <p>
                                    <span>
                                        <i class="fa fa-angle-right"></i> {{vol.aller}}
                                    </span>
                                    <i class="fa fa-angle-right"></i>  {{vol.retour}}
                                </p>
                                <p>
                                    <span>
                                        <i class="fa fa-angle-right"></i>  {{vol.prix}}
                                    </span>
                                    <i class="fa fa-angle-right"></i> food facilities
                                 </p>
                            </div>
                            <div class="packages-review">
                                <p>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <span>254 reviews</span>
                                </p>
                            </div>
                            <div class="about-btn">
                                <button  class="about-view packages-btn">
                                    book now
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>