
<div class="imgbg">
<div> <h3 style="font-family:Verdana, Geneva, Tahoma, sans-serif;">Take Your Dream Vacation</h3></div>
</div>
<section id="pack" class="packages">
    <div class="container">
        <div class="gallary-header text-center">
            <h2>
                Our Trips !
            </h2>
            <p>
              You only live once, enoy it with us !
            </p>
        </div>
        <div class="packages-content">
            <div class="row">

                <div class="col-md-4 col-sm-6" *ngFor="let flight of flightsList">
                    <div class="single-package-item">
                        <img src={{flight.photo}} alt="package-place">
                        <div class="single-package-item-txt">
                            <h3>{{flight.country}} <span class="pull-right"></span></h3>
                            <div class="packages-para">
                                <p>
                                    <span>
                                        <i class="fa fa-angle-right"></i>  {{flight.date_aller}}
                                    </span>
                                    <i class="fa fa-angle-right"></i>  {{flight.date_retour}}
                                 </p>
                            </div>

                            <div class="about-btn">
                                <button  class="about-view packages-btn" [routerLink]="['/reservation' , flight.country]">
                                    Réserver
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
