<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">


	<title>Booking Form HTML Template</title>


	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">


</head>

<body>

		<div class="section-center">
			<div class="container">
				<div class="row">

						<div class="booking-form">
							<div>
								<div class="form-group">
									<span class="form-label">country</span>
									<input class="form-control" [(ngModel)]="flight.country" type="text" placeholder="Nom">
								</div>
                <div class="form-group">
									<span class="form-label">date_aller</span>
									<input class="form-control" [(ngModel)]="flight.date_aller" type="text" placeholder="Prénom">
								</div>
                <div class="form-group">
									<span class="form-label">date_retour</span>
									<input class="form-control" [(ngModel)]="flight.date_retour" type="text" placeholder="Enter a destination or hotel name">
								</div>
                <div class="form-group">
									<span class="form-label">places_left</span>
									<input class="form-control" [(ngModel)]="flight.places_left" type="text" placeholder="Prénom">
								</div>
                <div class="form-group">
									<span class="form-label">photo</span>
									<input class="form-control" [(ngModel)]="flight.photo" type="text" placeholder="Prénom">
								</div>
								<div class="form-btn">
									<button class="submit-btn" [routerLink]="['/adminnav/adminFlight']" (click)="update()">Update</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
