<div class="col-md-3">
  <button type="button" [routerLink]="['adminAddReservation']"    class="btn mb-2 mb-md-0 btn-primary btn-block">ADD Reservation <i class="fas fa-plus"></i></button>
</div>
<div id="content">
  <div class="container-fluid">
    <table class="table" cellSpacing=50>
      <thead>
        <tr>
          <th scope="col">Country</th>
          <th scope="col">Client Name</th>
          <th scope="col">Client last name</th>
          <th scope="col">email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of reservations">
          <td>{{item.country}}</td>
          <td>{{item.prenomclient}}</td>
          <td> {{item.nomclient}} </td>
          <th scope="row">{{item.email}}</th>
          <th scope="col"><i role="button" class="fas fa-trash-alt" (click)="delete(item._id)"></i></th>
          <th><i role="button" class="fas fa-edit" [routerLink]="['/adminnav/adminReservations/adminUpdateReservation' , item._id]"></i></th>
        </tr>


      </tbody>
    </table>

  </div>

</div>
<div class="updateOut">
   <router-outlet></router-outlet>
</div>

